/*-----------------------------------------------------------------------------------------------*/ /*-----------------------------------------------------------------------------------------------*/
/*                                           RESET                                               */
/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
/*                                         VARIABLES                                             */
/*-----------------------------------------------------------------------------------------------*/ /*-----------------------------------------------------------------------------------------------*/

:root {
  --header-height: 4.5rem;

  /* COLORS */
  background-color: #222222;
  --hue: 278;
  --base-color: hsl(345, 100%, 60%);
  --base-color-second: hsl(345, 88%, 72%);
  --base-color-dark: hsl(345, 70%, 35%);

  --base-color-light: hsl(345, 88%, 87%);
  --base-color-alt: hsl(345, 67%, 55%);
  --text-color: hsl(0 0% 46%);
  --text-color-alt: hsl(0 0% 70%);
  --text-color-2: hsl(0 0% 25%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  /* FONTS */
  --body-font-size: 1rem;
  --h3-font-size: 1.5rem;
  --menu-hover-size: 1.54rem;
  --icon-font-size-sec: 1.75rem;
  --title-font-size: 1.875rem;
  --icon-font-size: 2rem;
  --testimonial-quote-size: 2.6rem;
  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
/*                                           BASE                                                */
/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem 'DM Sans', sans-serif;
  background: var(--body-color);
  color: var(--text-color-light);
  -webkit-font-smoothing: antialiased;
}

h1 {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

h2 {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

h3 {
  font: 700 var(--h3-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.button {
  background-color: var(--base-color-alt);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  transition: background 0.3s;
}

.button:hover {
  background-color: var(--base-color-dark);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(270deg, var(--base-color) 0%, #222222) 100%;
}

.divider-2 {
  height: 1px;
  background: linear-gradient(270deg, var(--base-color) 0%, #222222) 100%;
}

/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
/*                                           Layout                                              */
/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

#header {
  border-bottom: 1px solid var(--base-color-dark) E4E4E4;
  margin-bottom: 2rem;
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  background-color: #121212;
}

#header.scroll {
  box-shadow: 0 0 0.6rem 0.2rem #000300;
}

.title {
  color: var(--base-color-light);
}

.title-2 {
  color: var(--text-color-alt);
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: calc(5rem + var(--header-height)) 0;
}

.section .title {
  margin-bottom: 1rem;
}

.section header {
  margin-bottom: 4rem;
}

.section header strong {
  color: var(--base-color-light);
}

nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  font: 700 1.31rem var(--title-font);
  color: var(--text-color-alt);
}

.logo span {
  color: var(--base-color);
}

.logo-alt {
  color: var(--text-color-alt);
}

.logo-alt span {
  color: var(--base-color);
}

main {
  background-color: #222222;
}

/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
/*                                           HOME                                                */
/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

#home {
  overflow: hidden;
}

#home .image {
  align-items: center;
}

/*
#home .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -7.5%;
  left: 12.5%;
  z-index: 0;
}*/

#home.image img {
  position: relative;
  width: 100%;
}

#home .image img {
  border-radius: 0.25rem;
  box-shadow: 1rem -1rem hsla(349, 100%, 1%, 0.4);
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
  max-width: 100%;
}

/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
/*                                           ABOUT                                               */
/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

#about .container {
  margin: 0;
}

#about .image {
  position: relative;
}

#about .image::before {
  background: hsla(100, 0%, 0%, 0);
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: -8.3%;
  left: -33%;
  z-index: -1;
}

#about .image img {
  width: 100%;
  position: relative;
}

#about .image img,
#about .image::before {
  border-radius: 0.25rem;
}

#about .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

#about .text h1 {
  margin-bottom: 1rem;
}

#about .text p {
  margin-bottom: 0.5rem;
  max-width: 90%;
}

/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
/*                                          SERVICES                                             */
/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

.cards.grid {
  gap: 1.5rem;
}

.card {
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 0.75rem rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem 0.25rem 0 0;
  border-bottom: 0.15rem solid var(--base-color);
  text-align: center;
}

.card i {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 4rem;
  color: var(--base-color);
}

.card .title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.75rem;
}

/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
/*                                          Testimonials                                         */
/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

.swiper-slide {
  height: auto;
  padding: 4rem 1.5rem;
}

.swiper-pagination-bullet-active {
  background: var(--base-color);
}

.testimonials {
  padding: 0rem;
}

#testimonials blockquote {
  padding: 2rem;
  border: 0.15rem solid var(--base-color-second);
  border-radius: 0.3rem;
}

#testimonials blockquote p {
  position: relative;
  text-indent: 2rem;
  margin-bottom: 1.5rem;
}

#testimonials blockquote p span {
  font: 700 var(--testimonial-quote-size) georgia;
  position: absolute;
  top: -0.6rem;
  left: -1.87rem;
  color: var(--base-color-second);
}

#testimonials cite {
  display: flex;
  align-items: center;
  font-style: normal;
}

#testimonials cite img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  clip-path: circle();
  margin-right: 0.5rem;
}

#testimonials header {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0;
}

/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
/*                                          CONTACT                                              */
/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
#contact .grid {
  gap: 4rem;
}

#contact .text p {
  margin-bottom: 2rem;
}

#contact .button-2 i,
#contact ul li i {
  font-size: var(--h3-font-size);
  margin-right: 0.625rem;
}

#contact ul.grid {
  gap: 2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
}

.button-2 {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem 'DM Sans', sans-serif;
  transition: background 0.45s;
}

.button-2:hover {
  background-color: var(--base-color-dark);
}



#contact ul li {
  display: flex;
  align-items: center;
}

.infos {
  color: var(--base-color-second);
  margin-right: 0.75rem;
}

/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
/*                                           MENU                                                */
/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

nav .menu {
  top: -20rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

nav.show .menu ul {
  display: grid;
}

nav ul li {
  text-align: center;
}

nav.show .menu {
  opacity: 1;
  visibility: visible;
  background-color: #121212;
  font: 700 2rem var(--title-font);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
}

nav.show ul.grid {
  gap: 4rem;
}

nav ul li a,nav ul li a.active {
  transition: color 0.4s;
  position: relative;
}

nav ul li a:hover,nav ul li a.active {
  color: var(--base-color);
}

nav ul li a::after,
nav ul li a.active::after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: var(--base-color);
  position: absolute;
  left: 0;
  bottom: -1.5rem;
  transition: 0.3s;
}

nav ul li a.active::after{
  width: 100%;
}

nav ul li a:hover::after {
  width: 100%;
}


/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
/*                                         TOGGLE MENU                                           */
/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

.toggle {
  font-size: var(--h3-font-size);
  right: 1.5rem;
  color: var(--text-color-alt);
  cursor: pointer;
}

nav .icon-close {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: -1.5rem;
  transition: 0.2s;
}

nav.show i.icon-close {
  opacity: 1;
  visibility: visible;
  position: absolute;
  transition: 0s;
  font-size: var(--title-font-size);
  top: 1.5rem;
  transition: color 0.4s;
}

nav.show i.icon-close:hover {
  color: var(--text-color-light);
  font-size: var(--icon-font-size);
  right: 1.4rem;
  top: 1.4rem;
}

nav i.icon-menu:hover {
  color: var(--text-color-light);
  font-size: var(--menu-hover-size);
}

/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
/*                                            FOOTER                                             */
/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

footer {
  background-color: #121212;
}

footer.section {
  padding: 4rem 0;
}

footer .logo {
  display: inline-block;
  margin-bottom: 1.5rem;
}

footer .brand p {
  color: var(--text-color-light);
  margin-bottom: 0.75rem;
}

footer i {
  font-size: var(--icon-font-size-sec);
  color: var(--text-color-light);
}

footer .social {
  grid-auto-flow: column;
  width: fit-content;
}

footer .social a {
  transition: 0.3s;
  display: inline-block;
}

footer .social a:hover {
  transform: translateY(-0.5rem);
}

/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
/*                                            BUTTON                                             */
/*-----------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
div.center-button-top {
  align-items: center;
  background-color: var(--base-color);
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  padding: 0.4rem;
  clip-path: circle();
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top {
  color: #222;
  font-size: 1.5rem;
  line-height: 0;
}

div.center-button-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/* =========================== MEDIA QUERIES ============================= */
/* medium devices: 767 < */
@media (min-width: 767px) {
  :root {
    --body-font-size: 1.125rem;
    --h3-font-size: 1.6875rem;
    --menu-hover-size: 1.7325rem;
    --icon-font-size-sec: 1.96875rem;
    --title-font-size: 2.109375rem;
    --icon-font-size: 2.25rem;
    --testimonial-quote-size: 2.925rem;
  }
}

/* large devices: 992 < */
@media (min-width: 992px) {
  :root {
    --body-font-size: 1.2rem;
    --h3-font-size: 1.8rem;
    --menu-hover-size: 1.848rem;
    --icon-font-size-sec: 2.1rem;
    --title-font-size: 2.2rem;
    --icon-font-size: 2.4rem;
    --testimonial-quote-size: 3.12rem;
  }
}

/* large devices: 1023 < */
@media (min-width: 1023px) {
}
/* extra large devices: 1200 < */
@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .section header,
  #testimonials header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  main {
    margin-top: var(--header-height);
  }

  nav.container {
    justify-content: space-between;
  }

  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .icon-menu {
    display: none;
  }

  nav .menu ul li a.title-2 {
    font: 450 1.25rem var(--body-font);
  }

  .section {
    padding: 10rem 0;
  }

  #header a.logo {
    font-size: 1.5rem;
  }

  /*-----------------------------------------------------------------------------------------------*/
  /*-----------------------------------------------------------------------------------------------*/
  /*                                             HOME                                              */
  /*-----------------------------------------------------------------------------------------------*/
  /*-----------------------------------------------------------------------------------------------*/

  #home .container {
    grid-auto-flow: column;
    justify-content: space-around;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 26rem;
    text-align: left;
  }

  /*-----------------------------------------------------------------------------------------------*/
  /*-----------------------------------------------------------------------------------------------*/
  /*                                             ABOUT                                             */
  /*-----------------------------------------------------------------------------------------------*/
  /*-----------------------------------------------------------------------------------------------*/

  #about .container {
    grid-auto-flow: column;
    align-items: center;
    margin: 0 auto;
  }


  #about .image img {
    height: 80%;
    width: 100%;
    box-shadow: hsl(0, 0%, 100%, 0.04) 0 0 0.4rem 0.4rem;
  }
  
  #about .text {
    margin-left: 4rem;
  }

  /*-----------------------------------------------------------------------------------------------*/
  /*-----------------------------------------------------------------------------------------------*/
  /*                                           SERVICES                                            */
  /*-----------------------------------------------------------------------------------------------*/
  /*-----------------------------------------------------------------------------------------------*/

  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /*-----------------------------------------------------------------------------------------------*/
  /*-----------------------------------------------------------------------------------------------*/
  /*                                          TESTIMONIAL                                          */
  /*-----------------------------------------------------------------------------------------------*/
  /*-----------------------------------------------------------------------------------------------*/

  #testimonials .container {
    margin-left: 7.6875rem;
    margin-right: 7.6875rem;
  }

  .button {
    height: 3.125rem;
    width: 13.625rem;
    text-align: center;
  }

  .button-2 {
    height: 3.125rem;
    width: 14.8rem;
  }

  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }
  #contact .text{
    max-width:25rem;
  }

  /*-----------------------------------------------------------------------------------------------*/
  /*-----------------------------------------------------------------------------------------------*/
  /*                                             FOOTER                                            */
  /*-----------------------------------------------------------------------------------------------*/
  /*-----------------------------------------------------------------------------------------------*/
  footer .section{
    padding: 3.75rem 0;
  }
  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo{
    font-size: 2rem;
  }
  footer .social {
    display: inline-flex;
    align-items: center;
  }
}
